body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* header */

.header {
  background-color: #e7e9fc;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
}
.accent {
  color: #2e2f42;
}
.menu-iteam {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}

.menu-iteam:hover,
.menu-iteam:focus {
  color: #404bbf;
}
.navigation {
  font-style: normal;
}
.navigation-iteam {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}
.navigation-iteam:hover,
.navigation-iteam:focus {
  color: #404bbf;
}

/* navigation */

.header-menu-item {
  color: #2e2f42;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
  color: #404bbf;
}

.navigation {
  font-style: normal;
}
.navigation-iteam {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}
.navigation-iteam:hover,
.navigation-iteam:focus {
  color: #404bbf;
}

/* section -hero */

.section-hero {
  background-color: #2e2f42;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
}
.hero-titel {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.button-order {
  color: inherit;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
}

.content-subtitle {
  color: #2e2f42;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}

.studio {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  letter-spacing: 0.02em;
}

.section-content {
  background-color: #f4f4fd;
  color: #434455;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}

.content-item-text {
  color: #434455;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

/* section 2  */

.section-team {
  background-color: #f4f4fd;
}
.team-iteam {
  text-align: center;
  background-color: #ffffff;
}

.team-titel {
  line-height: 1.2;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.team-text {
  line-height: 1.5;
  text-transform: capitalize;
  color: #434455;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: 400;
}
/* section 3  */

.section-titel {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.portfolio-iteam {
  text-align: left;
  text-transform: capitalize;
  color: #434455;
  font-family: "Roboto", sans-serif;
}

.portfolio-titel {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}

.portfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}

footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.accent-footer {
  color: #f4f4fd;
}
.logo-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
}
